<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .square {

            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 15px; /* Rounded corners */
            color: #fff; /* White text color */
             /* [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
        }
        .square_for_stats {
            width: 200px;
            height: 200px;
        }
        .square_for_links {
            width: 170px;
            height: 170px;
        }
        .square-header {
            font-size: 1em;
            font-weight: bold;
        }
        .square-link {
            font-size: 1.5em;
            font-weight: bold;
        }
        .square-number {
            font-size: 4em;
            font-weight: bold;
        }
        /* Different background colors for each square */
        .square-1 {
            background-color: #E89F71;
            box-shadow: 0 .5rem 1rem rgb(228, 209, 185, .99);
        }
        .square-2 {
            background-color: #8FBDD3;
            box-shadow: 0 .5rem 1rem rgb(143, 189, 211, .5);
        }
        .square-3 {
            background-color: #EAC696;
            box-shadow: 0 .5rem 1rem rgb(234, 198, 150, .5);
        }
        #title {
          font-family: cursive;
          font-size: 48px;
          background-color: #445D48; /* A green background color */
          color: white; /* White text color */
          text-shadow: black 1px 3px;
          padding: 15px;
          text-align: center; /* Centering the text */
          border-radius: 5px; /* Optional: adds rounded corners */
        }
        #subtitle {
          font-family: cursive;
          font-size: 36px;
          background-color: #86A789;
          color: white;
          text-shadow: black 1px 2px;
          padding: 10px;
          text-align: center;
          border-radius: 5px;
            margin-top: 30px; /* Space above the header */
            margin-bottom: 30px;
        }
        /* unittest button*/
        .btn-circle {
            width: 50px;
            height: 50px;
            padding: 7px 10px;
            border-radius: 25px;
            font-size: 10px;
            text-align: center;
        }


    </style>
    <title>About</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="container">

        <!-- Title -->
        <h1 id="title" class="text-white display-1">Top Travelers</h1>

        <!-- MEMBER INFO -->
        <div class="row justify-content-center">
            {% for name in member_stats %}
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100 border-0 shadow rounded">
                    <img class="card-img-top" src="{{ member_stats[name].image }}" alt="Card image cap" style="height: 400px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ name }}</h5>
                        <p class="card-text">{{ member_stats[name].bio }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Major Responsibilities: {{ member_stats[name].responsibilities }}</li>
                        <li class="list-group-item">Commits: {{ member_stats[name].commits }}</li>
                        <li class="list-group-item">Issues: {{ member_stats[name].issues }}</li>
                        <li class="list-group-item">Unittests: {{ member_stats[name].unittests }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- STATS -->
        <h1 id="subtitle" class="text-white display-1">Statistics</h1>

        <div class="row justify-content-center">
            <div class="col d-flex justify-content-around">
                <div class="square square_for_stats square-1">
                    <div class="square-header">Total Issues</div>
                    <div class="square-number">{{ group_stats.issues }}</div>
                </div>
                <div class="square square_for_stats square-1">
                    <div class="square-header">Total Commits</div>
                    <div class="square-number">{{ group_stats.commits }}</div>
                </div>
                <div class="square square_for_stats square-1">
                    <div class="square-header">Total Unittests</div>
                    <div class="square-number">15</div>
                </div>
            </div>
        </div>

        <h1 id="subtitle" class="text-white display-1">Project Links</h1>
        <div class="row justify-content-center">
            <div class="col d-flex justify-content-around">
                <div class="square square_for_links square-2">
                    <div class="square-link">
                        <a href="https://gitlab.com/kkx2402GL/cs331e-idb/-/issues" class="link-light text-decoration-none">GitLab Issue Tracker</a>
                    </div>
                </div>
                <div class="square square_for_links square-2">
                    <div class="square-link">
                        <a href="https://gitlab.com/kkx2402GL/cs331e-idb" class="link-light text-decoration-none">GitLab Repository</a>
                    </div>
                </div>
                <div class="square square_for_links square-2">
                    <div class="square-link">
                        <a href="https://gitlab.com/kkx2402GL/cs331e-idb/-/wikis/technical_report" class="link-light text-decoration-none">Gitlab Wiki</a>
                    </div>
                </div>
                <div class="square square_for_links square-2">
                    <div class="square-link">
                        <a href="http://yuml.me/anjieliu/preview/travel" class="link-light text-decoration-none">UML</a>
                    </div>
                </div>
            </div>
        </div>

        <h1 id="subtitle" class="text-white display-1">Postman API</h1>

        <div class="row justify-content-center">
            <div class="col d-flex justify-content-around">
                {% for d in postman_api %}
                <div class="square square_for_links square-3">
                    <div class="square-link">
                        <a href={{ postman_api[d] }} class="link-light text-decoration-none">{{ d }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- DATA SOURCES -->
        <h1 id="subtitle" class="text-white display-1">Data Sources</h1>

        <div class="accordion">
            {% for name in data_source %}
                <div class="accordion-item">
                    <!-- header -->
                    <h2 class="accordion-header" id="heading{{ loop.index }}">
                        <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                            <a href="{{ data_source[name].link }}" class="card-link text-dark">{{ name }}</a>
                        </button>
                    </h2>
                    <!-- content -->
                    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-white">
                            {% if data_source[name].description %}
                                <p class="card-text text-secondary">{{ data_source[name].description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- TOOLS -->
        <h1 id="subtitle" class="text-white display-1">Tools</h1>
        <div class="row justify-content-center">
            {% for tool in tools %}
            <div class="col">
                <div class="card border-0" style="background-color: transparent;">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="card-img-top" src="{{ tools[tool].image }}" alt="Card image cap" style="object-fit: cover; width: 20%;">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title"><a href={{tools[tool].link}} class="link-secondary">{{tool}}</a></h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h1 id="subtitle" class="text-white display-1">Presentation</h1>
        <div class="text-center">
            <a class="btn btn-secondary" href="https://speakerdeck.com/tianken/toptravel" role="button">Presentation</a>
        </div>

        <h1 id="subtitle" class="text-white display-1">Unit Tests</h1>
        <div class="text-center">
            <a class="btn btn-secondary" href="{{url_for('unittest')}}" role="button">unittests</a>
        </div>

    </div>
    {% endblock %}
</body>
</html>