<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .main{
            margin:2%
        }
        img{
            width: 100%;
            height: 75px;
            object-fit: cover;
        }
        .card-header{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            text-align: center;
        }
        .card-h{
            text-decoration: none;
            color: inherit;
        }
        .sub-menu:hover .filter-menu {
          display: block;
        }
        form {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
        }
    </style>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Activities</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="main">
        <h1>Activities</h1>
        <div class="row">
            <div class="dropdown col-auto">
                {% set order = {'name': 'Name', 'iataCode': 'City', 'rating': 'Rating', 'price_amount': 'Price', 'id': 'None'} %}
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort By: {{order[order_by]}}</button>
                <ul class="dropdown-menu">
                    {% for i in order %}
                    <li><a class="dropdown-item" href="{{url_for('activities', page=page, order_by=i, desc=desc, attr=attr, value=value, search=search)}}">{{order[i]}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="dropdown col-auto">
                {% set asc = {0: 'Ascending', 1: 'Descending'} %}
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Order By: {{asc[desc]}}</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('activities', page=page, order_by=order_by, desc=False, attr=attr, value=value, search=search)}}">Ascending</a></li>
                    <li><a class="dropdown-item" href="{{url_for('activities', page=page, order_by=order_by, desc=True, attr=attr, value=value, search=search)}}">Descending</a></li>
                </ul>
            </div>

            <div class="dropdown col-auto">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter By: {{order[attr]}} {{value}}</button>
                <ul class="dropdown-menu filter-menu">
                    <li class="sub-menu"><a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">City</a>
                        <ul class="dropdown-menu filter-menu">
                            {% for i in city_list %}
                            <li><a class="dropdown-item" href="{{url_for('activities', page=1, order_by=order_by, desc=desc, attr='iataCode', value=i, search=search)}}">{{city_list[i].name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="sub-menu"><a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Currency</a>
                        <ul class="dropdown-menu filter-menu">
                            {% for i in curr_list %}
                            <li><a class="dropdown-item" href="{{url_for('activities', page=1, order_by=order_by, desc=desc, attr='price_currencyCode', value=i, search=search)}}">{{i}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="{{url_for('activities', page=page, order_by=order_by, desc=False, attr='id', value=' ', search=search)}}">None</a></li>
                </ul>
            </div>
            <div class="col-auto">
                <div class="form-inline">
                    <form class="row" action="{{url_for('activities', page=1, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}" method="post">
                        <div class="col-md-10"><input type="text" class="form-control" name="search" placeholder="{{search}}"></div>
                        <div class="col-md-2"><button type="submit" class="btn btn-secondary">Search</button></div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            {% for i in activity_list %}
                <div class="card col-md-4 mb-3 border-0">
                    <div class="row g-0 shadow rounded border">
                        <div class="col-md-3">
                            <a href="{{url_for('activity', activity_id=i)}}"><img src="{{activity_list[i].pictures[0]}}" class=" rounded-start" alt="..."></a>
                        </div>
                        <div class="col-md-9">
                            <div class="card-header"><a href="{{url_for('activity', activity_id=i)}}" class="card-h">{{activity_list[i].name}}</a></div>
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <p class="card-text">City: <a href="{{url_for('city', iataCode=activity_list[i].iataCode)}}">{{activity_list[i].iataCode}}</a></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="card-text">Rating: {{activity_list[i].rating}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">Price: {{activity_list[i].price_amount}}&nbsp{{activity_list[i].price_currencyCode}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{{url_for('activities', page=1, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">&laquo</a></li>
            <li class="page-item"><a class="page-link" href="{{url_for('activities', page=[page-1, 1]|max, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">&lt</a></li>
            {% for i in range([page-5, 1]|max, [page+6, (count-1)//12+2]|min) %}
            <li class="page-item {% if i==page %}active{% endif %}"><a class="page-link" href="{{url_for('activities', page=i, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">{{i}}</a></li>
            {% endfor %}
            <li class="page-item"><a class="page-link" href="{{url_for('activities', page=[page+1, (count-1)//12+1]|min, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">&gt</a></li>
            <li class="page-item"><a class="page-link" href="{{url_for('activities', page=(count-1)//12+1, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">&raquo</a></li>
        </ul>
    </nav>
    </div>
    {% endblock %}
</body>
</html>


