<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .main {
            margin: 2%;
            overflow-x: auto; /* Allows horizontal scrolling for smaller devices */
        }
        table, th, td {
            font-size: 14px; /* Smaller font size for table content */
        }
        .dropdown-toggle{
            text-decoration:none;
            color:inherit;
        }
        i{
            font-size: 12px;
            padding: 0px;
        }
    
    </style>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="main">
        <h1>Flights</h1>
        <div class="form-inline">
            <form class="row w-100" action="{{url_for('flights', page=1, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}" method="post">
                <div class="col-auto"><input type="text" class="form-control" name="search" placeholder="{{search}}"></div>
                <div class="col-auto"><button type="submit" class="btn btn-secondary">Search</button></div>
            </form>
        </div>
        <table id="flights" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%;">id
                        <a href="{{url_for('flights', page=page, order_by='id', desc=False, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-up"></i></a>
                        <a href="{{url_for('flights', page=page, order_by='id', desc=True, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-down"></i></a>
                    </th>
                    <th scope="col" style="width: 10.5%;">Departure Airport</th>
                    <th scope="col" style="width: 8.5%;">Arrival Airport
                    <th scope="col" style="width: 5%;">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Arrival City</a>
                        <ul class="dropdown-menu">
                            {% for i in city_list %}
                            <li><a class="dropdown-item" href="{{url_for('flights', page=1, order_by=order_by, desc=desc, attr='arrival_city', value=i, search=search)}}">{{city_list[i].name}}</a></li>
                            {% endfor %}
                        </ul>
                        </th>
                    <th scope="col" style="width: 6.5%">Price
                        <a href="{{url_for('flights', page=page, order_by='price', desc=False, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-up"></i></a>
                        <a href="{{url_for('flights', page=page, order_by='price', desc=True, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-down"></i></a>
                    </th>
                    <th scope="col" style="width: 8.5%;">Duration
                        <a href="{{url_for('flights', page=page, order_by='duration', desc=False, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-up"></i></a>
                        <a href="{{url_for('flights', page=page, order_by='duration', desc=True, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-down"></i></a>
                    </th>
                    <th scope="col" style="width: 8.5%;"># of Legs
                        <a href="{{url_for('flights', page=page, order_by='num_legs', desc=False, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-up"></i></a>
                        <a href="{{url_for('flights', page=page, order_by='num_legs', desc=True, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-down"></i></a>
                    </th>
                    <th scope="col" style="width: 12%;">Departure Time
                        <a href="{{url_for('flights', page=page, order_by='departure_time', desc=False, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-up"></i></a>
                        <a href="{{url_for('flights', page=page, order_by='departure_time', desc=True, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-down"></i></a>
                    </th>
                    <th scope="col" style="width: 11.5%">Arrival Time
                        <a href="{{url_for('flights', page=page, order_by='arrival_time', desc=False, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-up"></i></a>
                        <a href="{{url_for('flights', page=page, order_by='arrival_time', desc=True, attr=attr, value=value, search=search)}}"><i class="bi bi-arrow-down"></i></a>
                    </th>
                    <th scope="col">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Airline</a>
                        <ul class="dropdown-menu">
                            {% for i in airline_list %}
                            <li><a class="dropdown-item" href="{{url_for('flights', page=1, order_by=order_by, desc=desc, attr='airline', value=i, search=search)}}">{{i}}</a></li>
                            {% endfor %}
                        </ul>
                        </th>
                    <th scope="col" style="width: 6.5%">More Info</th>

                </tr>
            </thead>
            {% for f in flight_list %}
                <tr>
                    <td><div>
                        <span>{{ f.id}}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.departure_airport }}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.arrival_airport }}</span>
                    </div></td>
                    <td><div>
                        <a href="{{ url_for('city', iataCode=f.arrival_city) }}">
                            {{ f.arrival_city }}
                        </a><br>
                    <td><div>
                        <span>${{f.price}}</span>
                    </div></td>
                    <td><div>
                            <span>{{f.duration}}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.num_legs }}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.departure_time }}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.arrival_time }}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.airline }}</span>
                    </div></td>
                    <td><div>
                        <a href="{{url_for('single_flight', flight_id=f.id)}}">More Info</a><br>
                    </div></td>
                
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{url_for('flights', page=1, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">&laquo</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('flights', page=[page-1, 1]|max, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">&lt</a></li>
                {% for i in range([page-5, 1]|max, [page+6, (count-1)//10+2]|min) %}
                <li class="page-item {% if i==page %}active{% endif %}"><a class="page-link" href="{{url_for('flights', page=i, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">{{i}}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{{url_for('flights', page=[page+1, (count-1)//10+1]|min, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">&gt</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('flights', page=(count-1)//10+1, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}">&raquo</a></li>
            </ul>
        </nav>
        </div>
    {% endblock %}
</body>
</html>