<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* Set background image and dark overlay */
        body {
            {#background-image: url('https://www.mercierzeng.com/image/top-destinations/guilin-photography-tour.jpg'); /* Replace 'background-image.jpg' with your image path */#}
            background-image: url('https://www.scenicsuitcase.com/wp-content/uploads/2021/10/Greece-1.png');
            height: 90vh; /* Ensure full screen height */
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            {#background-position: center;#}
        }
        /* Center title and buttons */
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .title {
            display: -webkit-flex;
            font-family: cursive !important;
            {#font-style: italic; #}
            font-size: 100px;
            {#font-weight:bold;#}
            color: white;
            text-shadow: black 3px 3px;
            position: relative;
            display: inline-block; /* Make the title container inline-block */
            padding: 20px; /* Add some padding */
        }

        /* Pseudo-element for blurred background */
        .title::before {
            content: '';
            position: absolute;
            top: -10px; /* Adjust these values to control the size of the blurred area */
            left: -10px;
            right: -10px;
            bottom: -10px;
            background-color: rgb(255, 255, 255, 0.0); /* Semi-transparent black */
            border-radius: 100px; /* Rounded corners */
            {#-webkit-backdrop-filter: blur(1px);#}
            {#box-shadow: 0px 0px 200px 1px rgb(255, 255, 255, 0.5);#}
            filter: blur(4px);
            z-index: -1; /* Ensure the blurred background is behind the text */
        }

        .square {
            {#background-color: #8C6A5D !important;#}
            background-color: white !important;
            width: 130px;
            height: 50px;
            margin: 10px;
            border-radius: 20rem; /* Rounded corners */
            font-family: 'Pacifico', monospace;
            font-weight: bold;
            color: black; /* Black text color */
            outline: none; /* Remove outline */
        }

        /* google-like search bar */
        .form-group .form-control {
            margin-top: 20px; /* Increase top margin */
            border-radius: 25px; /* Make corners rounder */
            width: 600px;
            font-family: 'Pacifico', monospace;
            font-weight:bold;
        }


    </style>
</head>

<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="container">
        <h1 class="mb-4 title">Top Travel&nbsp;</h1>

        <div class="row">
            {% for i, j in [("Cities", "cities/order_by=name&desc=0&attr=id&value=%20&search=%20"), ("Activities", "activities/page=1&order_by=id&desc=0&attr=id&value=%20&search=%20"), ("Flights", "flights/page=1&order_by=id&desc=0&attr=id&value=%20&search=%20"), ("Hotels", "hotels/page=1&order_by=id&desc=0&attr=id&value=%20&search=%20"), ("About", "about")] %}
            <div class="col">
                <a href={{j}} class="text-decoration-none"><button type="button" class="square"> {{ i }}</button></a>
            </div>
            {% endfor %}
        </div>

    </div>
    {% endblock %}
</body>
</html>
