<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <title>Base</title>
    <style>
        /* Custom Navbar Color */
        .custom-navbar {
            font-family: 'Pacifico', monospace;
            font-weight:bold;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TopTravel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/cities/order_by=name&desc=0&attr=id&value=%20&search=%20">Cities</a>
                <a class="nav-link" href="/activities/page=1&order_by=id&desc=0&attr=id&value=%20&search=%20">Activities</a>
                <a class="nav-link" href="/hotels/page=1&order_by=id&desc=0&attr=id&value=%20&search=%20">Hotels</a>
                <a class="nav-link" href="/flights/page=1&order_by=id&desc=0&attr=id&value=%20&search=%20">Flights</a>
                <a class="nav-link" href="/about">About</a>
            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
